{% extends 'pages/base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<section>
    <h2>About me:</h2>
    
    <article>
        <h3>Current Project</h3>
            <p>
                My current major project is the Capstone project. As the name suggests, its the "capstone" of your computer science degree
                at the University of Memphis. In my project, I am working for a company to create a product database application on 
                Microsoft's PowerApps platform. PowerApps, designed to be accessible, can make programs that function on multiple devices:
                computer, phone, tablet, etc. This will be essential for my client, as his database needs to be accessible on site.  
            </p>
    </article>

    <article>
        <h3>Education:</h3>
            <p>
                I am currently a senior majoring in computer science at the University of Memphis. I have studied here my entire
                post-high-school education. I have learned mainly Python and Ruby with some emphasis on SQL databases, HTML/web development, and
                machine learning. 
            </p>
    </article>
    
    <article>
        <h3>Skills</h3>
            <ul>
                <li>Python</li>
                <li>Ruby and Ruby on Rails</li>
                <li>PowerApps</li>
                <li>HTML, CSS, JS</li>
                <li>Machine Learning</li>
            </ul>
    </article>
</section>
{% endblock %}