{% extends 'pages/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section>
    <h2>Welcome to my page.</h2>
    <p>I am Robert Anthony Rainey, a senior majoring in computer science at the University of Memphis. 
    My current major project is the Capstone project, in which I am working to create a part database application.  
    I tend to write most of my code in Python and Ruby, but I have been expanding out to JavaScript and Microsoft's PowerApps. 
    <p>On the About page, you can find out more information about me and my work.</p>
    <p>On the Portfolio page, you can see my past works.</p>
    <p>On the Contact page, you can fill out a form to contact me.</p>
</section>
{% endblock %}